<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_HelloWorldService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50392/HelloWorldService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_HelloWorldService"
                contract="HelloWorldService.HelloWorldService" name="BasicHttpBinding_HelloWorldService" />
        </client>
    </system.serviceModel>
</configuration>
